.root{
    -fx-background-image: url("background.jpg");
}
.button{
     -fx-background-radius:10%;
     -fx-font-size:2em;
     -fx-background-color: rgba( 41.57, 5.1,  67.84, 0.5);
     -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
     -fx-text-fill: white;
}
.button:pressed {
    -fx-font-size:2.03em;

}
.button:hover{
    -fx-text-fill:purple;
}
.label{
    -fx-text-fill:White;
}
.text-field{
    -fx-control-inner-background:rgba(75,0,130, 0.6);
    -fx-prompt-text-fill:White;
    -fx-min-height:30;
    -fx-text-fill:White;
}
.combo-box{
        -fx-control-inner-background:rgba(75,0,130, 0.6);
        -fx-background-color:rgba(75,0,130, 0.4);
        -fx-prompt-text-fill:White;
        -fx-min-height:30;
        -fx-text-fill:White;
}
.combo-box .list-cell {
	-fx-text-fill: White;
}

